/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


:root {
  --speed: 10s;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body, .container {
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  flex-direction: column;
  padding: 0 50px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.container img {
  max-width: 100%;
}

.main-nav {
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.main-nav-item {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.social li {
  display: inline-block;
}

.social li a {
  display: block;
  padding: 15px;
  font-size: 24px;
}

.social li a svg {
  color: #333;
  transition: all .3s ease;
}

.social li a:hover .fa-github { color: #24292e; }
.social li a:hover .fa-twitter { color: #1da1f2; }
.social li a:hover .fa-discord { color: #7289DA; }
.social li a:hover .fa-keybase { color: #196eff; }

.bubbles {
  height: 150%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* opacity: .2; */
}

.bubbles div {
  background: #BF67F7;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bubble var(--speed) infinite;
  animation: bubble var(--speed) infinite;
}

@keyframes bubble {
  0% {
      bottom: -24px;
      opacity: 1;
      transform: translateX(-500px) scale(0.5);
  }

  50% {
      transform: translateX(0) scale(2.5);
  }

  100% {
      bottom: 120%;
      opacity: 0;
      transform: translateX(300px) scale(1.15);
  }
}
